@model Layout_and_views.Models.OwnerInfo
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    @Model.Adress<br />
    <abbr title="Phone">P:</abbr>
    @Model.Phone
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:@Model.Email">@Model.Email</a><br />
</address>